/*CSS document*/

body {

}


div.container {
    max-width: 40em;
    margin: auto;
    padding: 1em;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

p { font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1,h2,h3 { font-family: sans-serif;
    text-transform: uppercase;
    color:#6fa365 ;
    font-size: 1 rem;
}

a{
    text-decoration: none;
    color: black; 
}

ul li {
    display: inline;
    padding: 0rem .75rem 0rem 0rem;
	text-transform: uppercase;
	font-weight: bolder;
	margin-bottom: .30rem;
	}
	
ul li a {
	color: #000000;
	font-family: sans-serif;
	font-weight: bold;
	font-style: normal;
    font-size: 1rem;
	}
   
ul li a:hover{
        color: rgb(230, 154, 12);
    }
