/*CSS document*/

body {
 
 
}

.grid-container {
    display: grid;
    grid-template-columns: 3,2;
  }

div.container {
    max-width: 40em;
    margin: auto;
    padding: 1em;
    background-color: #fafafa;
     
}

header { 

}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

p { font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1{
     width: 8em;
}
h1,h2,h3 { font-family: sans-serif;
    text-transform: uppercase;
    color:#6a874a ;
    font-size: 1 rem;
}

a{
    text-decoration: none;
    color: black; 
}

ul li {
    display: inline;
    padding: 0rem .75rem 0rem 0rem;
	text-transform: uppercase;
	font-weight: bolder;
	margin-bottom: .30rem;
	}
	
ul li a {
	color: #000000;
	font-family: sans-serif;
	font-weight: bold;
	font-style: normal;
    font-size: 1rem;
	}
   
ul li a:hover{
        color: rgb(230, 154, 12);
    }

@media screen and (min-width: 60em){

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 0 1em;
    }

 div.container{
    max-width: 80em;
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-gap: 0 1em;
 }

section.main{
    grid-column: 2/4;
    grid-row: 1/3;
    display:flex;
    flex-direction: column;

}
section.main a {
    flex: 1 0 10em;
    display:flex;
    flex-direction: column;
}

section.main a figure {
    flex: 1 0 10em;
   
}
section.main a img {
    height: 95%;
    object-fit: cover;
}

section.main a h3 {
    flex: 0 0 auto;
    margin: 0;
}

section.main a p{
    flex: 0 0 auto;
}
 header{ 
    grid-column: 1/3;
    
 }

 section{
    max-width: 40em;
    margin: 0 auto;
 }
    }


