/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; } 



p, body {  
  margin:0rem,0rem,1rem;
  background-color: #fafafa; 
  font-family: highgate, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #1e1e1e ;
  padding-bottom: 2rem 2re;
  line-height: 180%   
 
  }
img {
 width: 100%;
 display: block;
  }
header{
 padding: 1.5rem 2rem 1rem 1rem;
 font-family: highgate,sans-serif;
 font-weight: 600;
 font-style: normal;
  }
.container {
  max-width: 60rem;
  margin:auto;
  }


  h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    padding-bottom: 1em;  
    }
  h2 {
    color: rgb(13, 15, 13);
    font-size: 3rem;
    font-family: miller-display;
    font-weight: 600;
    text-align: center;
    line-height: 100%;
    margin:2rem;
    }
    h3 {
    color: rgb(55, 103, 113);
    font-size: 2rem;
    font-family: miller-display;
    font-weight: 400;
    text-align: center;
    line-height: 100%;
    margin:2rem;
      }
  h4{
      margin:0rem,0rem,1rem;
      font-family: helvetica, serif;
      font-weight: 500;
      color: rgb(18, 38, 54); 
      font-size: 1.3rem;
      padding: 0rem;
      margin-top: 0rem 2rem;
      text-align: left;
      line-height: 140%;
    }
 
nav{
  display:grid;
  grid-column: 1/2;
  width:100%;
  background-color: rgb(237, 239, 245);
  overflow:auto;
 }
 ul li a {
  width: 4rem;
  display: block;
  padding:1rem 1rem;
  text-decoration: none;
  color: #dff3df;
  text-align: left;
  }   
ul li a:hover {
  background:rgb(245, 250, 245);
  transition: 0.5s;
  text-transform: uppercase;
  
  }  
nav ul 
   {     
    margin:auto;
    list-style:none;
   }    
nav ul li{ 
    float:left;
   }   
nav ul li a {
    width: 4rem;
    display: block;
    padding:2rem 2rem;
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
   } 
 nav ul li a:hover {
    background:rgb(242, 245, 242);
    transition: 0.7s;
    text-transform: uppercase;      
   }
a:link, a:visited, a:active {
 color: inherit;
 text-decoration: none;
  }
a:hover {
 color: rgb(233, 173, 76);
  }


a.underline{
 text-decoration: underline;
 text-align: center;
  }
p.description {
  font-family: italic;
  font-weight: 400;
  }
p.price {
  color: rgb(172,50,43);
  }
.about {
  text-align: left;
  font-size: 1.7em;
  font-weight: 60;
  margin: 2rem 2rem 6rem;
  line-height: 3rem;
  }


@media only screen and (min-width: 60em) {
 visit {
  display: grid;
  grid-template-columns: 50%;
  }
 p.about{
  border-bottom: solid 2px rgb(55, 103, 113);
  padding-bottom: 2.5rem;
  }
  p.aboutmiddle {
  font-size: 1.7em;
  font-weight: 60;
  margin: 2rem 2rem 6rem;
  line-height: 3rem;
  text-align: middle;
   }
li { 
  list-style-type: none;
   }
p.addy {
  font-weight: 400;
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
 }
@media screen and (min-width: 40em){

  ul.menu {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
  ul.farmers {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.bottom {
  margin-bottom: 2rem;
}

.footer 
{
  color: black;
  font-weight: 600;
  font-style: normal;
  padding-top: 2rem, 1rem, 2rem;
}
